numpy
pillow
pyqt6
tabulate
yolov5
ultralytics
# tensorflow; sys_platform != 'darwin' or platform_machine != 'arm64'
# tensorflow-macos; sys_platform == 'darwin' and platform_machine == 'arm64'
# tensorflow-metal; sys_platform == 'darwin' and platform_machine == 'arm64'